<div class="generator-container">
    <div class="row justify-content-between align-items-top">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <direction-component></direction-component>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <type-component></type-component>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            Preview Component
        </div>
    </div>
    <div class="row justify-content-between align-items-top">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <dimensions-component></dimensions-component>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            Color Component
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            Css Preview Component
        </div>
    </div>
</div>