<div class="generator-container">
    <div class="row justify-content-between align-items-top first-row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <direction-component></direction-component>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <type-component></type-component>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12">
            <visual-preview-component></visual-preview-component>
        </div>
    </div>
    <div class="row justify-content-between align-items-top second-row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <dimensions-component></dimensions-component>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <color-component></color-component>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12">
            <code-preview-component></code-preview-component>
        </div>
    </div>
</div>