.add-container {
    text-align: center;
}

@media (max-width: 992px) { 
    .adslot-1 { 
        display: none!important;
    }
}

.github_link {
    color: rgba(240, 128, 60, 1);
}

footer {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 100px;
}