.header-title-container {
    margin: 10px;
}

.header-title {
    text-align: center;
    font-family: Roboto, 'Courier New', Courier, monospace;
    line-height: 1;
    margin: 0;
    font-size: 40px;
    font-weight: 1000;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: #ffffff;
}

.header-subtitle {
    text-align: center;
    font-family: Roboto, 'Courier New', Courier, monospace;
    line-height: 1;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin: 10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@media only screen and (max-width: 992px) {
    .header-title {
        font-size: 28px;
    }

    .header-subtitle {
        font-size: 14px;
    }
}
