.color-container {
    margin: 25px 10px 0px 10px;
    font-family: Roboto;;
    color: white;
}

.color-title {
    font-weight: 1000;
}

input {
    height: 75px;
    width: 75px;
    cursor: pointer;
    border: none;
}

