.visual-preview-container {
    display: block;
    background: url(../../../../assets/img/transparent.png) 0 0 repeat;
    padding: 30px;
    width: 400px;
    height: 200px;
}

.triangle {
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    transition: 0.3s;
}