.visual-preview-container {
    margin: 0px 10px 0px 10px;
    display: block;
    background: url(../../../../assets/img/transparent.png) 0 0 repeat;
    padding: 30px;
    width: auto;
    height: auto;
}

.triangle {
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}