<div class="dimensions-container">
    <h4 class="dimensions-title">Dimensions</h4>
    <div class="form-group row">
        <label for="example-number-input" class="col-3 col-form-label">Width</label>
        <div class="col-9">
          <input [attr.disabled]="getWidthDisabled()" class="form-control" type="number" value="200" id="width-dimension" [(ngModel)]="width" (ngModelChange)="onWidthChange($event)">
        </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-3 col-form-label">Height</label>
      <div class="col-9">
        <input [attr.disabled]="getHeightDisabled()" class="form-control" type="number" value="100" id="height-dimension" [(ngModel)]="height" (ngModelChange)="onHeightChange($event)">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-3 col-form-label">Left</label>
      <div class="col-9">
        <input [attr.disabled]="getLeftRightDisabled()" class="form-control" type="number" value="100" id="left-dimension" [(ngModel)]="left" (ngModelChange)="onLeftChange($event)">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-3 col-form-label">Right</label>
      <div class="col-9">
        <input [attr.disabled]="getLeftRightDisabled()" class="form-control" type="number" value="100" id="right-dimension" [(ngModel)]="right" (ngModelChange)="onRightChange($event)">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-3 col-form-label">Top</label>
      <div class="col-9">
        <input [attr.disabled]="getTopBottomDisabled()" class="form-control" type="number" value="50" id="top-dimension" [(ngModel)]="top" (ngModelChange)="onTopChange($event)">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-3 col-form-label">Bottom</label>
      <div class="col-9">
        <input [attr.disabled]="getTopBottomDisabled()" class="form-control" type="number" value="50" id="bottom-dimension" [(ngModel)]="bottom" (ngModelChange)="onBottomChange($event)">
      </div>
    </div>
</div>