.dimensions-container {
    margin: 25px 10px 0px 10px;
    font-family: Roboto!important;;
    color: white;
}

.dimensions-title {
    font-weight: 1000;
}

.col-9 input {
    font-weight: 1000;
}

.form-control:disabled, .form-control[readonly] {
    opacity: 0.5;
    cursor: not-allowed;
}

.form-control {
    box-shadow: unset;
    border: none;
    width: 75px;
}
