.code-preview-container {
    margin: 25px 10px 0px 10px;
    font-family: Roboto!important;;
    color: white;
}

.generated-css-options {
    margin: 0px;
    font: Roboto;
    color: rgba(255, 255, 255, 1);
    padding: 0;
}

.visual-preview-undertext {
    padding-left: 10px;
    line-height: 45px;
    user-select: none;
}

.visual-preview-undertext strong {
    user-select: text;
}

.code-preview-title {
    font-weight: bold;
}

.code-preview {
    padding: 25px;
    font-weight: normal;
    font-size: 15px;
    width: 100%;
    height: 250px;
}

textarea {
    border: none;
    box-shadow: none;
}
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    color: #ffffff;
    background-color: rgb(240, 128, 60);
    box-shadow: unset!important;
}

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn.about {
    margin-left: 10px;
}

.modal-content {
    padding: 10px;
    font-family: Roboto;
}

.modal-content a {
    color: rgb(240, 128, 60);
}

@media screen and (max-width: 992px) {
    .btn {
        width: 100%;
        padding: 0 auto;
        margin: 0 auto;
    }
    .btn.about {
        margin: 0 auto;
        margin-top: 10px;
    }
    .visual-preview-undertext {
        font-size: 13px;
    }
}
