/* You can add global styles to this file, and also import other style files */
body {
    background-color: #310D20;
}

@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

/* toastr overwrites */
.toast-container .toast {
    box-shadow: unset!important;
}